{% extends 'tapme/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid shadow-none" style="margin-top:20px;padding: 0 0;padding-bottom: 5px;">
                    <!-- Start: form-login -->
                    <div class="row d-flex justify-content-lg-center mb-3" style="margin: 0 auto;width: 100%;">
                        <div class="col col-sm-2 col-12 col-md-3"></div>
                        <div class="col-lg-4 col-12 col-sm-8 col-md-6">
                            <div class="shadow-sm p-5" style="border-radius: 25px;background: var(--white);">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4" style="color: rgb(0,0,0);">Thay đổi mật khẩu</h4>
                                </div>
                                <form action="{% url 'tapme:customer:change_password' %}" method="post" class="user" style="margin-top: 40px;">
                                    {% csrf_token %}
                                    <!-- Start: old_pass -->
                                    <div class="form-group row">
                                        <input name="old_password" class="form-control form-control-user" type="password" placeholder="Mật khẩu cũ">
                                    </div><!-- End: user -->
                                    <!-- Start: new_pass -->
                                    <div class="form-group row">
                                        <input name="new_password" class="form-control form-control-user" type="password" placeholder="Mật khẩu mới"></div><!-- End: name -->
                                    <!-- Start: name -->
                                    <div class="form-group row">
                                        <input name="re_new_password" class="form-control form-control-user" type="password" placeholder="Nhập lại mật khẩu mới"></div><!-- End: name -->

                                    <button class="btn btn-primary btn-block text-center text-white btn-user" type="submit" style="margin-top: 40px;">Đổi mật khẩu</button>
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger text-center" role="alert" style="margin: 20px">
                                                    {{ message }}
                                                </div>
                                            {% endif %}
                                            {% if message.tags == 'success' %}
                                                <div class="alert alert-success text-center" role="alert" style="margin: 20px">
                                                    {{ message }}
                                                </div>
                                            {% endif %}
                                            {% if message.tags == 'info' %}
                                                <div class="alert alert-info text-center" role="alert" style="margin: 20px">
                                                    {{ message }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" href="{% url 'tapme:login' %}">Đăng nhập lại!</a></div>
                            </div>
                        </div>
                        <div class="col col-sm-2 col-12 col-md-3"></div>
                    </div><!-- End: form-login -->
                </div>
{% endblock %}