{% extends 'customer/base.html' %}
{% load static %}
{% block css %}

{% endblock %}

    {% block navbar %}
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: linear-gradient(140deg, #a770ef, #cf8bf3 30%, #fdb99b), rgb(235,235,245);color: rgb(19,19,19);border-style: none;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink" style="color: var(--light);"></i></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: var(--light);">tapT</span></div>
                </a>
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" style="color: #131313;"><a class="nav-link active" href="customer_profile.html"><i class="fas fa-user" style="color: var(--light);"></i><span style="color: var(--light);padding: 0 20px;">Thông tin cá nhân</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="customer_social.html"><i class="fas fa-table" style="color: var(--light);"></i><span style="color: var(--light);padding: 0 20px;">Mạng xã hội</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="../../../tapme/templates/tapme/register.html"><i class="fa fa-arrow-circle-o-right" style="color: var(--light);"></i><span style="color: var(--light);padding: 0 20px;">Đăng xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button" style="background: var(--white);color: #000000;"></button></div>
            </div>
        </nav>
    {% endblock navbar %}

    {% block content %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background: #ebebf5;padding-bottom: 5px;">
                <!-- Start: navbar -->
                <nav class="navbar navbar-light navbar-expand shadow-none mb-4 topbar static-top" style="background: var(--white);margin: 0 0;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div></div>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">
                                    <span class="d-none d-lg-inline mr-2 text-gray-600 small">
                                        {% if user.first_name or user.last_name %}
                                            {{ user.first_name }} {{ user.last_name }}
                                        {% endif %}
                                </span>
                                    <img class="border rounded-circle img-profile" src="{{ customer.avatar.url|default_if_none:"#" }}"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav><!-- End: navbar -->

                <div class="container-fluid shadow-sm" style="border-radius: 25px;background: #f4f4fc;width: 98%;padding-bottom: 10px;">
                    <h3 class="text-center text-dark mb-4" style="padding: 30px 20px;padding-bottom: 15px;">Quản lí mạng xã hội</h3>
                    <!-- Start: colapse-add-new-social -->
                    <div style="padding: 20px 0;">
                        <!-- Button trigger modal -->

                        <!-- Modal ADD SOCIAL -->
                        <div class="modal fade" id="addSocialModalCenter"
                                tabindex="-1" role="dialog"
                                aria-labelledby="addSocialModalCenterTitle"
                                aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="addSocialModalLongTitle">Thêm mạng xã hội mới</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                            <form method="post" id="form_customer_social_add_social">
                                {% csrf_token %}

                                <div class="modal-body">

                                <!-- DROPDOWN MENU  -->
                                    <div class="ui fluid selection dropdown" style="margin: 10px 0px">
                                            <!-- input social id  -->
                                          <input type="hidden" name="social_id"
                                                 id="input_customer_social_social_id">

                                          <i class="dropdown icon"></i>
                                          <div class="default text">Chọn mạng xã hội</div>
                                          <div class="menu">

                                            {% for social in socials %}
                                                {% if social in socials %}
                                                    <div class="item" data-value="{{ social.id }}" data-text="{{ social.name }}">
                                                      <img class="ui mini avatar image" src="{{ social.img.url|default_if_none:"#" }}">
                                                      {{ social.name }}
                                                    </div>
                                                {% endif %}

                                            {% endfor %}

                                          </div>
                                        </div>
                                    <input name="social_url"
                                           id="input_customer_social_social_url"
                                           class="form-control" type="text"
                                           maxlength="10"
                                           style="margin: 20px 0px">

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                <button type="submit" id="btn_customer_social_submit_modal_add" class="btn btn-primary">
                                    <p>Thêm</p>
                                </button>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>

                    </div>
                    <div class="card shadow-sm mb-3" style="margin: 10px 10px;margin-right: 10px;margin-left: 10px;border-radius: 25px;margin-bottom: 10px;">
                        <div class="card-header py-3" style="border-top-left-radius: 25px;border-top-right-radius: 25px;">
                            <p class="text-primary m-0 font-weight-bold">Danh sách mạng xã hội</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8 col-md-12 pulse animated">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSocialModalCenter" style="margin: 0px 10px">
                                        <i class="fas fa-link" style="margin-right: 5px"></i>
                                        Thêm mạng xã hội
                                    </button>
                                </div>
                            </div>
                        <!------------- DANH SÁCH MẠNG XÃ HỘI HIỆN TẠI ---------------------------------->
                            <div class="row">

                                {% for social in social_customer %}
                                    <div class="col-12 col-md-6 pulse animated" style="padding: 5px 20px;">
                                    <!-- Start: Collapsible Card -->
                                        <div class="shadow-sm card" style="margin-top: 20px;">
                                            <a class="btn btn-link text-left card-header font-weight-bold"
                                               data-toggle="collapse"
                                               aria-expanded="false"
                                               aria-controls="collapse-{{ social.social.id }}"
                                               href="#collapse-{{ social.social.id }}" role="button">
                                                <img class="icon" src="{{ social.social.img.url|default_if_none:"#" }}"
                                                   style="margin: 5px 10px;margin-left:
                                                   20px;width: 30px;height: 30px;"></img>
                                                {{ social.social.name }}
                                            </a>

                                            <div class="collapse collapse_customer_social" id="collapse-{{ social.social.id }}" style="padding: 20px 20px;">
                                                <label style="margin: 10px 10px; text-align: center; align-self: center">Liên kết</label>
                                                <form id="form-customer-social-{{ social.social.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="social_id" value="{{ social.social.id }}">
                                                    <input class="form-control " type="url"
                                                           name="social_url"
                                                           data-id="{{ social.social.id }}"
                                                           id="input-customer-social-url-change-{{ social.social.id }}"
                                                           style="width: 100%;margin: 10px 5px; text-align: center" value="{{ social.url_social }}" >

                                                    <div class="d-flex flex-row flex-shrink-0 justify-content-around">
                                                        <button data-id="{{ social.social.id }}" class="btn btn-primary btn-customer-social-change" type="button" style="width: 50%;background: rgb(4,158,57);border-style: none;margin: 5px 5px;">Lưu</button>
                                                        <button data-id="{{ social.social.id }}" class="btn btn-primary btn-customer-social-delete" type="button" style="width: 50%;background: var(--red);border-style: none;margin: 5px 5px;">Xóa&nbsp;</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div><!-- End: Collapsible Card -->
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i></a>
    {% endblock content %}

{% block js %}
    <script src="{% static 'semantic/js/semantic.min.js' %}"></script>
    <script src="{% static 'js/customer_social.js' %}"></script>
{% endblock %}

